---
import "../styles/reset.css";
import "../styles/global.css";
import Layout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import pontusImg from "../pontus.jpg";
---

<Layout title="pontus">
  <main>
    <div class="mainWrapper">
      <div class="mainContainer">
        <div class="header">
          <p class="navLink">test1</p>
          <p class="title">pontus</p>
          <p class="navLink" id="creations" onclick="clickButton;">test3</p>
        </div>
        <div class="creationsContainer" id="creationsOverlay">
          <h1>daniel</h1>
          <h1>daniel</h1>
        </div>
        <div class="mainContent" id="mainItems">
          <Image src={pontusImg} alt="pontus image" />
          <p class="description">voce sabe sobre?</p>
          <p class="description" id="firstParagraph">reflexões na tela</p>
          <p class="description" id="secondParagraph">fluxo de pensamentos</p>
          <p class="description" id="thirdParagraph">palavras como pontes</p>
          <button id="backButton" onclick="clickButton;">voltar</button>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
  body {
    background-color: #0a0908;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .mainWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .navLink {
    font-size: 1.4rem;
    color: #9c8568;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 5rem;
  }
  .creationsContainer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s ease;
    width: 80%;
    height: 80%;
    flex-direction: column;
    background-color: #6d4c3d;
    position: absolute;
    top: 15%;
    left: 2%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  #firstParagraph {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 1.3s ease,
      visibility 1.3s ease;
  }
  #secondParagraph {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s ease;
    transition:
      opacity 1.3s ease,
      visibility 1.3s ease;
  }
  #thirdParagraph {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s ease;
    transition:
      opacity 1.3s ease,
      visibility 1.3s ease;
  }

  #backButton {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s ease;
    transition:
      opacity 1.3s ease,
      visibility 1.3s ease;
  }

  .mainContent {
    width: auto;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 1s ease;
    align-items: center;
  }
  @keyframes glow {
    0% {
      color: #5e503f;
      text-shadow: 0 0 10px rgba(94, 80, 63, 0.5); /* Adiciona um sombreamento para criar o efeito de brilho */
    }
    50% {
      color: #c7a893; /* Altere para a cor mais clara desejada */
      text-shadow: 0 0 20px rgba(140, 117, 100, 0.7); /* Sombreamento mais intenso na metade da animação */
    }
    100% {
      color: #5e503f;
      text-shadow: 0 0 10px rgba(94, 80, 63, 0.5);
    }
  }

  .title {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    animation: glow 3s infinite; /* Ajuste a duração conforme necessário */
  }
  img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
  }
  .description {
    color: #eae0d5;
    margin-top: 1rem;
    font-size: 1.125rem;
    font-family: "Merriweather", serif;
    font-weight: 300;
    word-wrap: break-word;
    text-align: center;
  }
</style>

<script>
  const testButton = document.getElementById("creations");
  const mainItems = document.getElementById("mainItems");
  const creationsOverlay = document.getElementById("creationsOverlay");
  const firstParagraph = document.getElementById("firstParagraph");
  const secondParagraph = document.getElementById("secondParagraph");
  const thirdParagraph = document.getElementById("thirdParagraph");
  const backButton = document.getElementById("backButton");
  let isOverlayShown = false;

  if (
    testButton &&
    mainItems &&
    creationsOverlay &&
    firstParagraph &&
    secondParagraph &&
    thirdParagraph &&
    backButton
  ) {
    

    testButton.addEventListener("click", function () {
      isOverlayShown = !isOverlayShown;

      if (isOverlayShown) {
        mainItems.style.left = "90%";
        mainItems.style.height = "60%";
        creationsOverlay.style.opacity = "1";
        creationsOverlay.style.visibility = "visible";

        setTimeout(() => {
          firstParagraph.style.opacity = "1";
          firstParagraph.style.visibility = "visible";
        }, 1500);

        setTimeout(() => {
          secondParagraph.style.opacity = "1";
          secondParagraph.style.visibility = "visible";
        }, 2500);

        setTimeout(() => {
          thirdParagraph.style.opacity = "1";
          thirdParagraph.style.visibility = "visible";
        }, 3500);

        setTimeout(() => {
          backButton.style.opacity = "1";
          backButton.style.visibility = "visible";
        }, 4500);
      }
    });

    // Remova a verificação redundante e adicione o código diretamente
    backButton.addEventListener("click", function () {
      mainItems.style.left = "";
      mainItems.style.height = "";
      mainItems.style.border = "none";
      creationsOverlay.style.opacity = "0";

      firstParagraph.style.opacity = "0";
      firstParagraph.style.visibility = "hidden";

      secondParagraph.style.opacity = "0";
      secondParagraph.style.visibility = "hidden";

      thirdParagraph.style.opacity = "0";
      thirdParagraph.style.visibility = "hidden";

      backButton.style.opacity = "0";
      backButton.style.visibility = "hidden";

      setTimeout(() => {
        creationsOverlay.style.visibility = "hidden";
      }, 1000);
      isOverlayShown = !isOverlayShown;
    });
  }
</script>
