---
import "../styles/reset.css";
import "../styles/global.css";
import Layout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import pontusImg from "../pontus.jpg";
---

<Layout title="pontus">
  <main>
    <div class="mainWrapper">
      <div class="mainContainer">
        <div class="header">
          <p class="navLink">test1</p>
          <p class="title">pontus</p>
          <p class="navLink" id="creations" onclick="clickButton">test3</p>
        </div>
        <div class="creationsContainer" id="creationsOverlay"></div>
        <div class="mainContent" id="mainItems">
          <Image src={pontusImg} alt="pontus image" />
          <p class="description">voce sabe sobre?</p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
  body {
    background-color: #0a0908;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .mainWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .navLink {
    font-size: 1.4rem;
    color: #9c8568;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 5rem;
  }
  .creationsContainer {
    display: none;
    width: 80%;
    height: 80%;
    flex-direction: column;
    background-color: blue;
    position: absolute;
    top: 15%;
    left: 2%;
  }
  .creationsContainer.show {
    animation: fadeIn 1.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .mainContent {
    width: auto;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 1s ease;
    align-items: center;
  }
  @keyframes glow {
    0% {
      color: #5e503f;
      text-shadow: 0 0 10px rgba(94, 80, 63, 0.5); /* Adiciona um sombreamento para criar o efeito de brilho */
    }
    50% {
      color: #c7a893; /* Altere para a cor mais clara desejada */
      text-shadow: 0 0 20px rgba(140, 117, 100, 0.7); /* Sombreamento mais intenso na metade da animação */
    }
    100% {
      color: #5e503f;
      text-shadow: 0 0 10px rgba(94, 80, 63, 0.5);
    }
  }

  .title {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    animation: glow 3s infinite; /* Ajuste a duração conforme necessário */
  }
  img {
    max-width: 90%;
    height: auto;
  }
  .description {
    color: #eae0d5;
    margin-top: 1rem;
    font-size: 1.125rem;
    font-family: "Merriweather", serif;
    font-weight: 300;
  }
</style>aaaaaa

<script>
  const testButton = document.getElementById("creations");
  const mainItems = document.getElementById("mainItems");
  const creationsOverlay = document.getElementById("creationsOverlay");

  if (testButton && mainItems && creationsOverlay) {
    testButton.addEventListener("click", function () {
      // Adiciona o valor left: 80% ao estilo do elemento mainItems
      mainItems.style.left = "90%";
      mainItems.style.height = "60%";

      creationsOverlay.style.display = "flex"; // Mostra o overlay

      // Adiciona uma classe para iniciar a animação
      creationsOverlay.classList.add("show");
    });
  }
</script>
